<div class="row text-center">
<h4 class="column">Featured Movies</h4>
  <ul class="movies-grid no-bullet row">
    <% @movies.each do |movie| %>
      <li class="large-3 medium-4 small-12 column">
        <div class="movie-card padly">
          <%= link_to movie, class: "poster" do %>
            <%= image_tag movie.poster %>
          <% end %>
          <div class="movie-info ell glassy-bg padmy padlx">
            <div class="title">
              <h6><%= movie.title %> <span>(<%= movie.release_year %>)</span></h6>
            </div>
            <p class="left price label movie-label radius">$ <%= movie.price %></p>
            <%= link_to movie.imdb, class: "right" do %>
              <%= image_tag asset_path("imdb-logo.png"),:size => "32x32" %>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
 <ul class="pagination" role="menubar" aria-label="Pagination">
	  <li class="arrow unavailable" aria-disabled="true"><a href="">&laquo; Previous</a></li>
	  <li class="current"><a href="">1</a></li>
	  <li><a href="">2</a></li>
	  <li><a href="">3</a></li>
	  <li><a href="">4</a></li>
	  <li class="unavailable" aria-disabled="true"><a href="">&hellip;</a></li>
	  <li><a href="">12</a></li>
	  <li><a href="">13</a></li>
	  <li class="arrow"><a href="">Next &raquo;</a></li>
</ul>
</div>
