<p id="notice"><%= notice %></p>

<div class="large-3 small-12 column">
  <%=image_tag @movie.poster%>
</div>

<div class="large-9 small-12 column">
  <h3>
    <%= @movie.title %>
    (<%= @movie.release_year %>)
    <%=link_to @movie.imdb do%>
      <%=image_tag asset_path("imdb-logo.png"), :size => "32x32" %>
    <%end%>
  </h3>
  <p> 
                
	 <%= @movie.description %>
  </p>
  <p class="label movie-label radius mb1">$ <%= @movie.price %></p>

  <p><%= @movie.description %></p>
</div>

