<div class="row medium-uncollapse medium-uncollapse">

	 <div class="small-6 columns">
		<%=image_tag @movie.poster%>
	</div>
	

	 <div class="small-6 columns">
		<h3>
			<%= @movie.title %>
			(<%= @movie.release_year %>)
			<%=link_to @movie.imdb do%>
			  <%=image_tag asset_path("imdb-logo.png"), :size => "32x32" %>
			<%end%>
		</h3>

		<p><%= @movie.description %></p>
		
		<label>Format
			<select>
				<option value="digital">Digital</option>
				<option value="blueray">Blueray</option>
				<option value="dvd">DVD</option>						
				<option value="vhs">VHS</option>
			</select>
		</label>
		
		<div class="row">
			<div class="small-3 columns">
				<label for="middle-label" class="middle">Quantity</label>
			</div>
	
			<div class="small-9 columns">
				<input type="text" id="middle-label" placeholder="1">
			</div>	
		</div>
		
		<%if signed_in?%>
		  <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@movie), removeUrl: remove_from_cart_path(@movie)} do%>
			<i class="fi-shopping-cart"></i>
			<span><%=@cart_action%></span> Add to Cart
		  <%end%>
			  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
			  data-description="<%= @movie.title %>"
			  data-amount="<%= @movie.stripe_price %>"
			  data-locale="auto"></script>
		<%end%>
		
		
		
		<div class="small secondary expanded button-group">
			<p>
				<a class="button" href="http://www.facebook.com">Facebook</a>
				<a class="button" href="http://www.twitter.com" >Twitter</a>
			</p>
		</div>
	</div>
</div>


