<div class="row text-center">
<h1>Shopping Cart</h1> 
	<p>
		<%= link_to 'Empty Cart', method: :emptyCart %>
		<p id="notice"><%= notice %></p>
		  <li class="column">		
				<table>
				  <thead>
					<tr>
					  <th>Name</th>
					  <th>Price</th>
					  <th colspan="3"></th>
					</tr>
				  </thead>

				  <tbody>			  
					<% @carts.each do |cart| %>
					  <tr>
						<td><%= cart.name %></td>
						<td><%= cart.price %></td>               
						<td><%= link_to 'Remove', cart, method: :delete %></td>
					  </tr>
					<% end %>
				  </tbody>
				</table>

				<br>
		</li>
			<%if signed_in?%>		
				  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				  data-description="description"
				  data-amount="amount"
				  data-locale="auto"></script>
			<%end%>
	</p>
</div>

