<div class="row text-center">
	<fieldset class="fieldset">
		<h1>Shopping Cart</h1> 	
			
			<p id="notice"><%= notice %></p>
			  <li class="table">		
					<table>
						  <thead>
								<tr>
									  <th>Name</th>
									  <th>Qty</th>
									  <th>Price</th>					  
									  <th colspan="4"></th>
								</tr>
						  </thead>
						  <tbody>			  
								<% @carts.each do |cart| %>
								  <tr>
									<td><%= cart.name %></td>
									<td><%= cart.quantity %></td> 
									<td><%= cart.price %></td>						
									<td><%= link_to 'Remove', cart, method: :delete %></td>
								  </tr>
								<% end %>
								<tr><td></td></tr>
								<tr><td><%= link_to 'Empty Cart', method: :emptyCart %></td> </tr>
						  </tbody>
					</table>
					
					<table>
						<tbody>
							<tr>
								<td>Shipping</td>
								<td></td>
								<td><%= @shippingPrice %></td>
							</tr>
							<tr>
								<td>Cost</td>
								<td></td>
								<td><%= @totalPrice %></td>
							</tr>
							<tr>
								<td>Total</td>
								<td></td>								
								<td><%= @totalPrice + @shippingPrice %></td>
							</tr>					
						</tbody>
					</table>
					<br>
			
				<%if signed_in?%>					
					<%= button_to "Pay with Card",					
						:controller => :charges, 
						:action => :create,
						:amount =>(@totalPrice + @shippingPrice)
					%>					
				<%end%>
		</li>
	</fieldset>
</div>

